<div class="cadastro-container">
  <mat-card class="cadastro-card">
    <mat-card-header class="centralizar">
      <mat-card-title> <b>Cadastro</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #cadastroForm="ngForm" (ngSubmit)="cadastrar()">
        <div *ngIf="cadastroSucesso" class="mensagem-sucesso">
          Cadastro realizado com sucesso! Redirecionando para o login...
        </div>
        <div *ngIf="!cadastroSucesso">
          <div class="cadastro-fill">
            <mat-form-field class="flex-1" appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput [(ngModel)]="user.cpf" name="cpf" type="text" required maxlength="11" pattern="^[0-9]{11}$">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field class="flex-2" appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput [(ngModel)]="user.nome" name="nome" type="text" required>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>
          
          
          <div class="cadastro-fill">
            <mat-form-field class="flex-2" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="user.email" name="email" type="email" required>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

            <mat-form-field class="flex-2" appearance="outline">
              <mat-label>CEP</mat-label>
              <input matInput [(ngModel)]="user.cep" name="cep" type="text" required maxlength="8" pattern="^[0-9]{8}$">
              <mat-icon matSuffix>my_location</mat-icon>
            </mat-form-field>
              <button mat-flat-button type="button" class="buscar-cep" (click)="buscarCep(user.cep)">
              Buscar CEP
            </button>
          </div>
          <div class="cadastro-fill">
            <mat-form-field class="flex-2" appearance="outline">
              <mat-label>Endereço</mat-label>
              <input matInput type="text" [(ngModel)]="user.logradouro" name="logradouro" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="flex-1" appearance="outline">
              <mat-label>Número</mat-label>
              <input matInput [(ngModel)]="user.numero" name="numero" type="number" required>
            </mat-form-field>
          </div>
          <div class="cadastro-fill">
            <mat-form-field class="flex-1" appearance="outline">
              <mat-label>Bairro</mat-label>
              <input matInput type="text" [(ngModel)]="user.bairro" name="bairro" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="flex-1" appearance="outline">
              <mat-label>Cidade</mat-label>
              <input matInput type="text" [(ngModel)]="user.cidade" name="cidade" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="flex-05" appearance="outline">
              <mat-label>UF</mat-label>
              <input matInput type="text" [(ngModel)]="user.uf" name="uf" [readonly]="true">
            </mat-form-field>
          </div>
          <button mat-flat-button class="cadastro-button" [disabled]="!cadastroForm.valid">
            Cadastrar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
