
.container {
  background: #fff5f7;
  padding: 24px;
  border-radius: 16px;
  max-width: 900px;
  width: 90%; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-top: 30px;

}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 90px;
}


 th, 
td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.mat-header-cell {
  background: #f3d1f7;
  color: #4a004a;
  font-weight: bold;
  font-size: 1rem;
}

.mat-mdc-menu-item{
  text-align: center;
 
}

.filtros{
text-align: end;
justify-items: end;
}

.filtro-periodo {

  display: flex;

  align-items: center;

  padding: 20px;
}

.filtro-periodo mat-form-field {

    padding: 0 !important;

    margin-right: 10px; 
}



button {
  background-color: #1976d2;
  color: white !important;
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
    background-color: #125a9c;
}

.mat-mdc-raised-button.mat-primary {

    background-color: #1976d2 !important; 

    color: white !important;

    margin-bottom: 15px;

}

.mat-mdc-raised-button.mat-primary:hover {

    background-color: #125a9c !important;
    
}



.cor-aberta {
  background-color: #dbdbdbb0; 
}

.cor-orcada {
  background-color: #b9a09077;
}

.cor-rejeitada {
  background-color: #eeb0b59a; 
}

.cor-aprovada {
  background-color: #ebe8c1ad;
}

.cor-redirecionada {
  background-color: #dabaec9c; 
}

.cor-arrumada {
  background-color: #acc1eb8f; 
}

.cor-paga {
  background-color: #e9caa39a; 
}

.cor-finalizada {
  background-color: #c3e6cb98; 
}

