.campo, strong, p{
    display: inline-block;
}

#div-pagar{
    background-color: white;
    width: 70%;
    color: black;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

@media(max-width: 600px){
    #div-pagar{
        width: 100%;
    }
}

h1{
    background-color: rgba(0, 255, 255, 0);
    text-align: center;
    margin-bottom: 30px;

}

.campo > strong{
    margin-right: 15px;
}

#data{
    margin-right: 70px;
}

p{
    border: 1px solid rgba(102, 86, 86, 0.76);
    border-radius: 4px;
    padding: 5px;
    hyphens: auto;
}

.campo-texto > strong{
    margin-bottom: 10px;
}

#preco-botao{
    text-align: center;
}

input{
    margin-left: 30px;
    background-color: #1976d2;
    border: 2px solid #1976d2;
    color: white;
    border-radius: 20px;
    height: 40px;
}
input:hover{
    background-color: rgb(253, 0, 0);
    border: 2px solid rgb(253, 0, 0);

}

#valor{
    background-color: #19d251;
    color: white;
}
#preenchimento{
    height: 30px;
}

.octr{
    display:none;
    width 500px;
    height 300px;
    background-color: blue;
    color: white;
    margin-left 50px;
    margin-bottom: 20px;
    margin-right: 70px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

