.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
}

mat-card {
    flex: 1;
    padding: 30px;
    text-align: center;
}

mat-form-field {
    width: 50%;


}

mat-card-title {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.receita-categoria {
 margin: 50px;
 justify-content: center;
}

button {
  background-color: #1976d2 !important;
  width: 30%;
  color: white !important;
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}