#div-orcamento{
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;

}

@media (max-width: 500px){
    #div-orcamento{
        width: 100%;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#section-solicitacao{
    margin-bottom: 60px;
}

h1{
    background-color: rgba(0, 0, 255, 0);
    text-align: center;
}

strong{
    color:rgb(110, 21, 161);
    font-size: 20px;
    display: block;
    margin-bottom: 8px;
}

span{
    display: block;
    border: 1px solid rgba(102, 86, 86, 0.76);
    border-radius: 4px;
    min-height: 40px;
    hyphens: auto;
    padding: 5px;
}
span::before{
    content: "Texto aleatório para batatas são muito interessantes apesar de tudo, mas mesmo assim isso não quer dizer que nós não possamos continuar";
}

#form-orcamento{
    background-color: green;
    min-height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    box-sizing: border-box;
}

#orcamento{
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}
#botao{
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px solid white;
    background-color: rgb(9, 21, 182);
    color: white;
    height: 40px;
    width: 150px;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 2px 0px black;
}
#botao:hover{
    background-color: red;
    box-shadow: 0px 0px 0px 0px black;

}

#preenchimento{
    height: 30px;
}