<div class="container">
<h2>Detalhes da Solicitação</h2>
<div class="detalhes">
<p><b>Descrição:</b> {{solicitacao.descricao}}</p>
<p><b>Categoria:</b> {{solicitacao.categoria}}</p>
<p><b>Descrição do defeito:</b> {{solicitacao.descricaoDefeito}}</p>
<p><b>Estado:</b> {{solicitacao.estado}}</p>
<p><b>Data/Hora:</b> {{solicitacao.dataHora | date : 'short' : '' : 'pt-BR'}}</p>
</div>

 <mat-card class="historico-card">
    <mat-card-title>Histórico da Solicitação</mat-card-title>
    <mat-card-content>
      <ul class="historico-lista">
        <li *ngFor="let item of solicitacao.historico">
          {{ item.dataHora | date : 'short' : '' : 'pt-BR'}} - {{ item.observacao }} 
          <span *ngIf="item.usuarioAlteracaoNome"> (Responsável: {{ item.usuarioAlteracaoNome }})</span>
        </li>
        <li *ngIf="solicitacao.historico?.length === 0">
          Nenhuma ação registrada para a solicitação atual.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

<button mat-button (click)="fechar()">Fechar</button>

</div>