.container {
  background: #fff5f7;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  text-align: center;
}

.detalhes {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

button{
 background-color: #1976d2 !important;
  color: white !important;
  border-radius: 20px;
  width: 100px;
  padding: 12px;
  font-weight: bold;
}

mat-card-title{
  font-weight: 500;
  font-size: 20px;
}

.historico-card{
  background-color: #ffffff;
  margin-bottom: 20px;
}

.historico-lista{
  text-align: left;
  margin-top: 5px;
}