nav{
  padding-top: 20px;
}

.logo{

  height: auto;
  margin-left: 20px;
}

b {
    font-size: 2vw;
}

li{
    display: inline !important;
    width: auto;
    padding:15px;
    font-weight: 600;
    font-size: 1vw;
}

.link-site:hover {
  background-color:#1976d2;
  text-align: center;
  border-radius: 10px;
}

.link-site:hover > a {
  color: rgb(255, 255, 255) !important;
}

.barra{
  width: 100%;
  background-color: white;
  display: flex;
}

ul{
  display: flex;
  text-align: center;
  justify-content: center;
}

.exit{
 padding-left: 20px;
  button{
 background-color: #1976d2;
 font-size: 15px;
 padding: 10px;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
  
}


